@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

root:{
    --bg-color: #522258;
    --cor-principal: #C63C51;
    --cor-segundaria: #8C3061;
    --font: "SUSE", sans-serif;
}